{% extends "frontend/base.html" %}

{% load custom_filters %}
{% load i18n %}

{% block head %}
<script src="http://cdn.jquerytools.org/1.1.2/jquery.tools.min.js" />
<link rel="stylesheet" type="text/css" href="/static/css/film_list.css" />
<script src="/static/script/film_list.js" />
{% endblock %}

{% block page_header %}
	<!-- page header -->
  <a id="settings_link" href="{% url src.frontend.views.preferences %}">{% blocktrans %}settings{% endblocktrans %}</a>

 <!--		<a href="{% url src.frontend.views.add_to_db 1 %}">add film</a> --> 
		<div class="header">
		<div class="title">
			<span id="moovog_m">M</span>
			<span id="moovog_o1">O</span>
			<span id="moovog_o2">O</span>
			<span id="moovog_v">V</span>
			<span id="moovog_o3">O</span>
			<span id="moovog_g">G</span>
		</div>
		<div id="searchbox">	{% include "seeker/search_bar.html" %} </div>
		</div>
{% endblock page_header %}
{% block page_nav %}
   <!-- navigation -->
{% endblock page_nav %}
{% block page_content %}
   <!-- page content -->
   <!-- pagination links -->
   <!-- film list -->
	<p id="film_list">
	<p>
		{% if movies %}
		{% for movie in movies %}
			<div class="film_thumbnail">
				<a class="film_thumbnail" href="{% url django.views.generic.list_detail.object_detail movie.id %}">
					<div class="left"><img src="{{ movie.thumbnail_url|get_cover_image }}" class="thumbnail_image"/></div>
					<div class="right">
						<p>Title: {{ movie.original_title }}</p>
						<p>Year: {{ movie|get_release_year }}</p>

						<p>Genre: 
						  {% for genre in movie.genres.all %}
						  {% if forloop.last %}
						  {{ genre }}
						  {% else %}
						  {{ genre }},&nbsp;
						  {% endif %}
						  {% endfor %}
						</p>
					</div>
				</a>
			</div>
			<div class="film_tooltip">
				<embed 
					 src="{{ movie.imdb_id|internet_movie_archive_player }}" 
					 FlashVars="width=320&height=260&autostart=True&mute=True&controlbar=None"
					 type="application/x-shockwave-flash" />
			</div>
			{% endfor %}
	{% endif %}
	</p>
	<p>
  		{% if is_paginated %}{% load paginator %}{% paginator 3 %}{% endif %}
	</p>
</p>



{% endblock page_content %}
{% block page_footer %}
   <!-- page footer -->
{% endblock page_footer %}
