{% extends "frontend/base.html" %}

{% load custom_filters %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/film_list.css" />
<script src="/static/ext/script/jquery.tools.tooltip.js" type="text/javascript"></script>
<script src="/static/script/film_list.js" type="text/javascript"></script>
{% endblock %}

{% block page_header %}
	<!-- page header -->
<!--  <a id="settings_link" href="{% url src.frontend.views.preferences %}">{% blocktrans %}settings{% endblocktrans %}</a> -->

 <!--		<a href="{% url src.frontend.views.add_to_db 1 %}">add film</a> --> 
<!--		<div class="header">
		<div class="title">
			<span id="moovog_m">M</span>
			<span id="moovog_o1">O</span>
			<span id="moovog_o2">O</span>
			<span id="moovog_v">V</span>
			<span id="moovog_o3">O</span>
			<span id="moovog_g">G</span>
		</div> -->
<!--		</div> -->
{% endblock page_header %}
{% block page_nav %}
   <!-- navigation -->
{% endblock page_nav %}
{% block page_content %}
   <!-- page content -->
   <!-- pagination links -->
   <!-- film list -->
	<p id="film_list">
	<p>
		{% if movies %}
			{% for movie in movies %}
				<div class="film_thumbnail">
					<div class="left">
						<a href="{% url src.seeker.views.movie movie.original_title|clean_name, movie.id %}">
						<img src="{{ movie.thumbnail_url|get_cover_image }}" class="thumbnail_image"/>
						</a>
					</div>
					<div class="right">
						<p>Title: {{ movie.original_title }}</p>
						<p>Year: {{ movie.release_date_model_set.all.get.release_date.year }}</p>

						<p>Genre: 
						  {% for genre in movie.genres.all %}
						  {% if forloop.last %}
						  <a href="{% url src.seeker.views.genre genre.genre_name|clean_name, genre.pk %}">{{ genre. }}</a>
						  {% else %}
						  <a href="{% url src.seeker.views.genre genre.genre_name|clean_name, genre.pk %}">{{ genre }}</a>,
						  {% endif %}
						  {% endfor %}
						</p>
						<p>Plot: {{ movie.plot|truncatewords:30 }}</p>
						<p>
							{% comment %}
							<a href="{% url src.seeker.views.movie movie.original_title|clean_name, movie.id %}">details</a>
							<a href="{% url src.seeker.views.movie_watch movie.original_title|clean_name, movie.id %}">watch</a>
							{% endcomment %}
						</p>
					</div>
				</div>
				<div class="film_tooltip">
				<embed 
					 src="{{ movie.imdb_id|internet_movie_archive_player }}" 
					 FlashVars="width=320&height=300&autostart=True&mute=True&controlbar=bottom"
					 type="application/x-shockwave-flash" />
				</div>
			{% endfor %}
		{% endif %}
	</p>
	<p>
  		{% if is_paginated %}{% load paginator %}{% paginator 3 %}{% endif %}
	</p>
</p>



{% endblock page_content %}
{% block page_footer %}
   <!-- page footer -->
{% endblock page_footer %}
