{% extends "frontend/base.html" %}
{% load custom_filters %}

{% block head %}
<script src="http://cdn.jquerytools.org/1.1.2/jquery.tools.min.js"></script>
<script type="text/javascript">
$(document).ready(
	function() 
	{	 
		// enable tooltip for "download" element. use the "slide" effect 
		$(".film_thumbnail").tooltip({ 
			effect: "toggle",
			position: "bottom center",
			offset: [-100, 0],
			predelay: 1000,
			delay: 1000,});  
	});
</script>
{% endblock %}

{% block style %}
.film_thumbnail
{
	float:	left;
	height: 240px; 
	width: 180px;
	margin: 4px;
	text-align: center;
	border: 1px solid black;
}

.thumbnail_image
{
	height: 60%;
}	

td.center
{
	text-align: center; 
}

p
{
	margin: 2px;
}

.bordered
{
	border: 	1px solid black;
}

.film_tooltip
{
	display:		none;
	height:		240px;
	width:		320px;
	background:	#555555; 
	color:		#000000;
}
{% endblock style %}

{% block page_header %}
	<!-- page header -->
	<a href="{% url src.frontend.views.add_to_db %}">add film</a> 
{% endblock page_header %}
{% block page_nav %}
   <!-- navigation -->
{% endblock page_nav %}
{% block page_content %}
   <!-- page content -->
   <!-- pagination links -->
   <!-- film list -->
<p>
  {% if is_paginated %}{% load paginator %}{% paginator 3 %}{% endif %}
</p>
{% if object_list %}
{% for film in object_list %}
	<div class="film_thumbnail">
		<a href="{% url django.views.generic.list_detail.object_detail film.id %}">
			<p class="center"><img src="{{ film.image }}" class="thumbnail_image"/></p>
			<p>{{ film.title }}</p>
			<p class="center">{{ film.release_date.year }}</p>
		</a>
	</div>
	<div class="film_tooltip">
{% autoescape off %} 
		{{ film.title|trailer_addict_embedded_player:320 }}
{% endautoescape %} 
	</div>
   {% endfor %}
   {% endif %}



{% endblock page_content %}
{% block page_footer %}
   <!-- page footer -->
{% endblock page_footer %}
