{% extends "frontend/base.html" %}

{% load custom_filters %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block page_header %}
	<!-- page header -->
 <!--		<a href="{% url src.seeker.views.add_to_db 1 %}">add film</a> --> 
		<div class="header">
		<div class="title">
			<span id="moovog_m">M</span>
			<span id="moovog_o1">O</span>
			<span id="moovog_o2">O</span>
			<span id="moovog_v">V</span>
			<span id="moovog_o3">O</span>
			<span id="moovog_g">G</span>
		</div>
{% endblock page_header %}
{% block page_nav %}
   <!-- navigation -->
{% endblock page_nav %}
{% block page_content %}
   <!-- page content -->
   <!-- pagination links -->
   <!-- film list -->
	<ul>
	 <li><a href="{% url src.seeker.views.add_to_db 1 %}">{% blocktrans %}add new films ...{% endblocktrans %}</a>
  </ul>


{% endblock page_content %}
{% block page_footer %}
   <!-- page footer -->
{% endblock page_footer %}
