<div class="contentMain" >
	<form action="/seeker/search/" method="GET">
		<p>
	        <input id="search-string" name="search-string" type="text" size="40" style="margin-top:10px; margin-right:5px"/>
	   </p>
		<p>
			<div>
				<input type="submit" value="Let's Go"/>
				<select id="search-type" name="search-option">
					<option value="movie">movies</option>
					<option value="person">persons</option>
					<option value="genre">genre</option>
					<option value="character">character</option>
				</select>
			</div>
		</p>
    </form
</div>
