body
{
	background-image:url('/static/image/background.jpg');
	background-repeat: no-repeat;
	background-color: #0B0F12;
	color: #FFFFFF; 
}

#page_header
{
	clear: both;
}

#page_nav_content
{
	clear: both;
}

#page_footer
{
	clear: both;
}

