<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>moovog - the movie catalog</title>
    
    {% block styles %}{% endblock %}
    {% block scripts %}{% endblock %}
    
</head>
<body>
	<center>
		{% include "seeker/search_bar.html" %}
	    
	    <!--
	    {% block results %}
	    <div class="contentMain" style="width: 500px;">
	    	<h2 style="color: rgb(128, 53, 19); text-transform: uppercase;">search result</h2>
	    </div>
	    <table border="1">
			<tr>
				<td>Cell 1</td>
				<td>Cell 2</td>
			</tr>
		</table>
		{% endblock %}
		-->
		
    </center>
</body>