{% extends "film/base.html" %}

{% block style %}
.film_thumbnail
{
 float:	left;
 height: 240px; 
 width: 180px;
 margin: 4px;
 text-align: center;
}

.thumbnail_image
{
 height: 60%;
}	

td.center
{
	text-align: center; 
}

p
{
 margin: 2px;
}

.bordered
{
	border: 	1px solid black;
}
{% endblock style %}

{% block page_header %}
   <!-- page header -->
   <a href="{% url playground.film.views.add_to_db %}">add film</a> 
{% endblock page_header %}
{% block page_nav %}
   <!-- navigation -->
{% endblock page_nav %}
{% block page_content %}
   <!-- page content -->
   <!-- pagination links -->
   <!-- film list -->
<p>
  {% if is_paginated %}{% load paginator %}{% paginator 3 %}{% endif %}
</p>
{% if object_list %}
{% for film in object_list %}
   <div class="film_thumbnail">
	<div class="bordered">
		<p class="center"><img src="{{ film.image }}" class="thumbnail_image"/></p>
		<p>{{ film.title }}</p>
		<p class="center">{{ film.release_date.year }}</p>
	</div>
      </div>
   {% endfor %}
   {% endif %}

{% endblock page_content %}
{% block page_footer %}
   <!-- page footer -->
{% endblock page_footer %}
