<table id="mainlayout">
 <tr>
  <td colspan="2" id="page_header">
   <!-- page header -->
  </td>
 </tr>
 <tr>
  <td id="page_navigation">
   <!-- navigation -->
  </td>
  <td id="page_content">
   <!-- page content -->
  </td>
 </tr>
 <tr>
  <td id="page_footer">
   <!-- page footer -->
  </td>
 </tr>
</table>

<!--
{% if latest_message_list %}
    <ul>
    {% for msg in latest_message_list %}
        <li><a href="/playground/sandbox/message/{{ msg.id }}/">{{ msg.timestamp}}  {{ msg.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No messages posted yet.</p>
{% endif %}
-->
