{% extends "film/base.html" %}

{% block style %}
.film_thumbnail
{
 float:	left;
 width:	33%
}

td.center
{
	text-align: center; 
}
{% endblock style %}

{% block page_header %}
   <!-- page header -->
   <a href="{% url playground.film.views.add_to_db %}">add film</a> 
{% endblock page_header %}
{% block page_nav %}
   <!-- navigation -->
{% endblock page_nav %}
{% block page_content %}
   <!-- page content -->
   <!-- pagination links -->
   <div class="pager">
   {% if has_previous %}
      <span class="page">
      <a href="?page={{ previous }}">&lt; Prev</a>
      </span>
   {% endif %}

   {% if show_first %}
      <span class="page"><a href="?page=1">1</a></span>
      <span class="ellipsis">...</span>
   {% endif %}
   {% for linkpage in page_numbers %}
      {% ifequal linkpage page %}
         <span class="current">{{ page }}</span>
      {% else %}
         <span class="page"><a href="?page={{ linkpage }}"
               >{{ linkpage }}</a></span>
      {% endifequal %}
   {% endfor %}
   {% if show_last %}
      <span class="ellipsis">...</span>
      <span class="page"><a href="?page=last">{{ pages }}</a></span>
   {% endif %}
   {% if has_next %}
      <span class="page"><a href="?page={{ next }}">Next &gt;</a></span>
   {% endif %}
   </div>
   <!-- film list -->

  {% if is_paginated %}{% load paginator %}{% paginator 3 %}{% endif %}


   {% if object_list %}
   {% for film in object_list %}
      <div class="film_thumbnail">
	<table>
		<tr><td class="center"><img src="{{ film.image }}" /></td></tr>
		<tr><td>{{ film.title }}</td></tr>
		<tr><td class="center">{{ film.release_date.year }}</td></tr>
	</table>
      </div>
   {% endfor %}
   {% endif %}

   {% if is_paginated %}{% load paginator %}{% paginator 3 %}{% endif %}
{% endblock page_content %}
{% block page_footer %}
   <!-- page footer -->
{% endblock page_footer %}
