<div class="contentMain" >
	<div class="headerContent" style="margin-top:20px; margin-right:5px"><strong><label>Details Search Bar</label></strong></div>
	<form action="/seeker/get-detailed-person-infos/" method="POST">
		<p>
	        <input name="person-id" type="text" size="5" style="margin-top:10px; margin-right:5px"/>
	   	</p>
		<p>
			<div>
				<select name="person-type">
					<option value="actor">actor</option>
					<option value="director">director</option>
					<option value="writer">writer</option>
				</select>
			</div>
		</p>
		<p>
            <input type="submit" value="Let's Go" />
        </p>
		
		
    </form
</div>