{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
 
<html xmlns="http://www.w3.org/1999/xhtml"> 
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/static/css/base.css" />
  <style type="text/css"> {% block style %} {% endblock %} </style>
  <title> {% block title %}Moovog{% endblock %} </title>
	<script src="/static/ext/script/jquery-1.4.2.dev.js" type="text/javascript"></script>
	<script src="/static/ext/script/jquery.autocomplete.js" type="text/javascript"></script>
	<script src="/static/script/search_bar.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/static/ext/css/jquery.autocomplete.css" />
{% block head %} {% endblock %}
 </head>
 <body>
  <p id="page_header"> 
		<img src="/static/image/oie_aa.gif" id="title_image"/>
		<table id="searchbox"><tr>
		<td><div>	{% include "seeker/search_bar.html" %} </div></td></tr>
		<tr><td class="administration_link"><a href="{% url src.seeker.views.preferences %}" id="administration_link">
				{% blocktrans %}administrate...{% endblocktrans %}
			</a></td></tr></table>
		
		{% block page_header %} {% endblock %} 
	</p>
  <p id="page_nav_content">
   <div id="page_nav"> {% block page_nav %} {% endblock %} </div>
   <div id="page_content"> {% block page_content %} {% endblock %} </div>
  </p>
  <p id="page_footer"> {% block page_footer %} {% endblock %} </p>
 </body>
</html>
