{% extends "frontend/base.html" %}

{% load custom_filters %}
{% load i18n %}

{% block page_content %}

<h1>Possible results in persons for search: {{ query }}</h1>
{% if results %}
<ul>
{% for result in results %}
{% ifequal type "actor" %}
<li><a href="{% url src.seeker.views.actor result.full_name|clean_name, result.id %}">{{ result.full_name }}</a></li>
{% endifequal %}
{% ifequal type "director" %}
<li><a href="{% url src.seeker.views.director result.full_name|clean_name, result.id %}">{{ result.full_name }}</a></li>
{% endifequal %}
{% ifequal type "writer" %}
<li><a href="{% url src.seeker.views.writer result.full_name|clean_name, result.id %}">{{ result.full_name }}</a></li>
{% endifequal %}
{% endfor %}
<br/>
{% if results|length_is:"1" %}
{{ results|length }} result (0.{{ time }} s)
{% else %}
{{ results|length }} results (0.{{ time }} s)
{% endif %}
{% endif %}
{% endblock page_content %}